

p{
  font-size: 13px;
  margin-left: 10px;
}

  
  
  


*{
  box-sizing: border-box;
}

/* .signup-container {
  height: 100%;
  width: 116%;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  box-shadow: rgba(48, 60, 189, 0.927) 1px 2px 5px 0px;
} */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  /* overflow: hidden; */
  margin-bottom: 20px;
}
.form-container {
  width: 35%;
  margin: auto;
  height: 90%;
  box-shadow: rgba(48, 60, 189, 0.927) 1px 2px 5px 0px;
  padding: 0px 30px;
  border-radius: 0.2rem;
}

.form-container h1 {
  font-weight: 500;
  text-align: center;
  margin: 40px 0px 5px 0px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: whitesmoke;
  box-shadow: rgba(48, 60, 189, 0.927) 0px 0px 6px;
  margin: 0px 0px 40px 0px;
  border-radius: 4px;
}

input {
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
  width: 75%;
  height: 30px;
  margin-top: 12px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  box-shadow: rgb(54, 71, 255) 0px 0px 6px;
  margin-left: 12px;

}

input:focus {
  outline: 0.5px solid rgb(192, 99, 6);
}

.form-container span {
  font-weight: 500;
  font-size: small;
  color: rgb(192, 99, 6);
}

.submit-btn {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  width: 36%;
  height: 30px;
  margin-top: 9px;
  margin-bottom: 9px;
  padding-left: 1rem;
  background: rgb(3, 82, 252);
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}

/* Mobile Phones */
@media (max-width: 480px) {
  .form-container {
      width: 90%;
      padding: 20px;
      margin: 20px auto;
  }

  .form-container h1 {
      font-size: 24px;
      margin: 20px 0;
  }

  .submit-btn {
    font-size: 16px;
    width: 55%;
    padding: 7px;
}

  .form-container span {
      font-size: smaller;
  }
}

/* Tablets */
@media (max-width: 768px) {
  .form-container {
      width: 70%;
      padding: 30px;
      margin: 30px auto;
  }

  .form-container h1 {
      font-size: 28px;
      margin: 25px 0;
  }

  .submit-btn {
    font-size: 16px;
    width: 55%;
    padding: 7px;
}

  .form-container span {
      font-size: medium;
  }
}
